{% extends "landing.html" %}
{% block content %}

<h1>Список заказов:</h1>

    {% for order in orders %}
        <div style="border: 1px solid black; margin: 10px; padding: 10px;">
            <h3>Заказ #{{ order.id }}</h3>
            <p>Клиент: {{ order.client_name }}</p>
            <p>Услуги: 

                {% for service in order.services %}
                    <div>{{ service }}</div><br>
                {% endfor %}
            </p>
            <p>Дата: {{ order.date }}</p>
            <p>Статус: {{ order.status }}</p>
        </div>
    {% endfor %}


{% endblock content %}